@media (max-width: 768px) {
  /* overall */
  html {
    width: 100%;
  }
  body {
    text-align: center;
  }
  /* header */
  .header {
    height: auto;
    padding: 16px;
  }
  .header .logo {
    width: 120px;
    margin: 0;
  }
  .global-nav {
    display: none;
  }
  .sp-menu {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 14px;
  }
  .sp-menu::before,
  .sp-menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--dark);
    transition: 0.6s;
  }
  .sp-menu::before {
    top: 0;
  }
  .sp-menu::after {
    bottom: 0;
  }
  /* https://kouhekikyozou.com/css_close_button */
  .sp-menu.clicked::before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(405deg);
  }
  .sp-menu.clicked::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-405deg);
  }

  .overlay {
    margin: 136px auto 0;
  }
  .overlay .sp-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: var(--dark);
    font-size: 24px;
    line-height: 1.8;
  }

  /* line cta */
  .line-cta {
    bottom: 0;
    right: 0;

    justify-content: center;
    gap: 8px;

    width: 100%;
    height: 48px;

    border-radius: 0;

    transition: 0.3s;
  }
  .line-cta .text {
    width: auto;
  }
  .line-cta .link-img {
    margin: 0;
  }
  .line-cta.in-overlay {
    left: 50%;
    bottom: 159px;
    transform: translateX(-50%);
    width: 343px;
    height: 60px;
    border-radius: 30px;
  }
  /* main */
  .main {
    padding: 0;
  }
  .top {
    /* todo */
    height: 361px;
  }
  .top .key-copy-wrapper {
    /* display: block; */
    /* todo: move this center */
    left: 16px;
    top: 251px;
    width: 343px;
    height: 110px;
    margin: 0 auto;
  }
  .top .key-copy-wrapper .description {
    margin-top: 20px;
    font-size: 12px;
  }
  .top .key-copy-wrapper .key-copy {
    margin: 6px auto auto 24px;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 1px;
  }
  .top .key-visual {
    width: 100%;
    height: 100%;
  }
  .top .key-visual img {
    border-radius: 0;
  }
  .top .scroll-down {
    visibility: hidden;
  }

  /* about */
  .about {
    margin: 64px auto;
    width: 100%;
  }
  .about .title .heading {
    font-size: 24px;
    line-height: 180%;
    margin: 0 auto;
  }
  .about .title .description-en {
    display: inline-block;
    width: 100%;
  }
  .about .description {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .about .description img {
    width: 343px;
    height: 228px;
    border-radius: 16px;
  }
  .about .description .text {
    /* todo */
    width: 90%;
  }

  /* line */
  .line {
    /* todo */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 63px auto;
  }
  .line .background {
    width: 100%;
    height: 100%;
  }
  .line .title .heading {
    position: static;
    margin-top: 4px;
    font-size: 24px;
    line-height: 180%;
  }
  .line .title .logo {
    position: static;
    margin-top: 41px;
  }
  .line .description {
    position: static;
    /* todo: change */
    width: 78%;
    margin-top: 8px;
    text-align: left;
  }
  .line .cta {
    position: relative;
    top: 0;
    left: 0;

    width: 295px;
    margin: 34px auto 41px;
    /* text-align: center; */
  }
  .line .cta .text {
    position: static;
  }
  .line .cta img {
    position: absolute;
  }
  .footer .sns-list {
    margin: 24px 0 32px;
  }
  .footer.fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
