*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

button {
  font: inherit;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

img {
  width: 100%;
  overflow: hidden;
}

/* icon fonts */
@font-face {
  font-family: "posse-icon";
  src: url("../assets/fonts/posse-icon.ttf?bbqgr3") format("truetype"), url("../assets/fonts/posse-icon.woff?bbqgr3") format("woff"), url("../assets/fonts/posse-icon.svg?bbqgr3#posse-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: inline-block;
}
i,
.icomoon-liga {
  font-family: "posse-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 24px;
}
@media (max-width: 767px) {
  .l-header {
    padding: 0 16px;
    height: 56px;
  }
}

.l-main {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .l-main {
    margin-top: 56px;
  }
}

.p-sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.p-sns__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #eeeeee;
  font-size: 24px;
  color: #adadad;
}

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.p-header__logo {
  display: inline-block;
  width: 148px;
}
@media (max-width: 767px) {
  .p-header__logo {
    width: 120px;
  }
}
.p-header__nav__list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 32px;
}
@media (max-width: 767px) {
  .p-header__nav__list {
    display: none;
  }
}
.p-header__nav__item {
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.p-header__nav__item:hover {
  color: #666666;
}

.p-footer__upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0 48px;
  border-top: 1px solid #eeeeee;
}
@media (max-width: 767px) {
  .p-footer__upper {
    padding-bottom: 32px;
  }
}
.p-footer__lower {
  padding: 36px 0 32px;
  text-align: center;
  border-top: 1px solid #eeeeee;
}
@media (max-width: 767px) {
  .p-footer__lower {
    padding: 32px 0;
  }
}
.p-footer__logo {
  width: 202px;
}
@media (max-width: 767px) {
  .p-footer__logo {
    width: 164px;
  }
}
.p-footer__website-link {
  margin-top: 24px;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}
.p-footer__sns {
  gap: 8px;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .p-footer__sns {
    margin-top: 24px;
  }
}
.p-footer__copy {
  color: #666666;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.1em;
}

.p-line {
  position: relative;
  margin: 0 16% 102px;
  padding: 68px 0;
  border-radius: 48px;
  overflow: hidden;
  background-image: url("../assets/img/bg-line.jpg");
  background-size: cover;
}
@media (max-width: 767px) {
  .p-line {
    margin: 0 4% 72px;
    padding: 42px 24px;
    border-radius: 24px;
  }
}
.p-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 113, 188, 0.9);
}
.p-line__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.p-line__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 36px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .p-line__title {
    flex-direction: column;
    gap: 4px;
    font-size: 24px;
  }
}
.p-line__title__text {
  color: #fff;
}
.p-line__content {
  margin-top: 16px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  .p-line__content {
    margin-top: 8px;
    text-align: left;
  }
}
.p-line__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 50px;
  margin: 24px auto 0;
  border-radius: 98px;
  background-color: #fff;
  color: #666666;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  .p-line__link {
    width: 295px;
  }
}
.p-line__link .u-icon__link {
  position: absolute;
  right: 19px;
}
@media (max-width: 767px) {
  .p-line__link .u-icon__link {
    right: 18px;
  }
}

.p-quiz-hero {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 110px 0 76px 204px;
  background-image: url("../assets/img/quiz/bg-hero.jpg");
  background-size: cover;
}
@media (max-width: 767px) {
  .p-quiz-hero {
    gap: 0;
    padding: 60px 0 32px 32px;
  }
}
.p-quiz-hero__caption {
  font-size: 18px;
  color: #eff2f5;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .p-quiz-hero__caption {
    font-size: 14px;
  }
}
.p-quiz-hero__heading {
  font-size: 60px;
  color: #fff;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .p-quiz-hero__heading {
    font-size: 28px;
  }
}

.p-quiz-main {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 120px 228px 140px;
}
@media (max-width: 767px) {
  .p-quiz-main {
    gap: 80px;
    padding: 48px 17px 120px 15px;
  }
}
.p-quiz-main__content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media (max-width: 767px) {
  .p-quiz-main__content {
    gap: 24px;
  }
}
.p-quiz-main__image {
  display: inline-block;
  padding: 0 133px;
}
@media (max-width: 767px) {
  .p-quiz-main__image {
    width: 343px;
    padding: 0;
  }
}
.p-quiz-main__question {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 767px) {
  .p-quiz-main__question {
    gap: 16px;
  }
}
.p-quiz-main__question__id {
  align-self: flex-start;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  font-size: 36px;
  background-color: #0071bc;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  .p-quiz-main__question__id {
    font-size: 24px;
  }
}
.p-quiz-main__question__text {
  color: #333333;
  font-size: 36px;
  line-height: 1.5;
  text-align: justify;
}
@media (max-width: 767px) {
  .p-quiz-main__question__text {
    font-size: 18px;
    line-height: 1.8;
  }
}
.p-quiz-main__choice {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 767px) {
  .p-quiz-main__choice {
    margin-top: 6px;
  }
}
.p-quiz-main__choice__id {
  display: inline-block;
  align-self: flex-start;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 36px;
  background-color: #e34e70;
  color: #fff;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .p-quiz-main__choice__id {
    font-size: 24px;
  }
}
.p-quiz-main__choice__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .p-quiz-main__choice__list {
    flex-direction: column;
    gap: 8px;
  }
}
.p-quiz-main__choice__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 19px;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 8px;
  border: 5px solid #eeeeee;
  background-color: #fff;
  color: #333333;
}
@media (max-width: 767px) {
  .p-quiz-main__choice__item {
    border: 4px solid #eeeeee;
    padding: 12px;
  }
}
.p-quiz-main__choice__item.is-selected {
  color: #0071bc;
  border: 5px solid #0071bc;
  background-color: #eff2f5;
}
.p-quiz-main__choice__item:hover {
  cursor: pointer;
}
.p-quiz-main__choice__item__text {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .p-quiz-main__choice__item__text {
    font-size: 14px;
    line-height: 1.6;
  }
}
.p-quiz-main__choice__item i {
  font-size: 15px;
}
@media (max-width: 767px) {
  .p-quiz-main__choice__item i {
    font-size: 12px;
  }
}
.is-selected .p-quiz-main__choice__item i {
  display: none;
}
.p-quiz-main__choice__answer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
}
.p-quiz-main__choice__answer.is-correct {
  display: flex;
  background-color: #fff2f5;
}
.p-quiz-main__choice__answer.is-incorrect {
  display: flex;
  background-color: #eff2f5;
}
.p-quiz-main__choice__answer__title {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.is-correct .p-quiz-main__choice__answer__title {
  color: #e34e70;
}
.is-incorrect .p-quiz-main__choice__answer__title {
  color: #0071bc;
}
.p-quiz-main__choice__answer__wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #333333;
}
.p-quiz-main__choice__answer__id {
  font-size: 24px;
  line-height: 1.8;
}
.p-quiz-main__choice__answer__text {
  font-size: 18px;
  line-height: 1.8;
}
.p-quiz-main__choice__reference {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px;
  background-color: #f6f6f6;
  border-radius: 8px;
}
.p-quiz-main__choice__reference__text {
  font-size: 18px;
  font-style: normal;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .p-quiz-main__choice__reference__text {
    width: 255px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
  }
}
.p-quiz-main__choice__reference i {
  font-size: 17px;
}

.u-en {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
}

.u-icon__link:before {
  content: "\e901";
}
.u-icon__note:before {
  content: "\e902";
}
.u-icon__arrow:before {
  content: "\e903";
}
.u-icon__line:before {
  content: "\e900";
  color: #00c300;
  background: radial-gradient(#fff 60%, transparent 60%);
}
.u-icon__instagram:before {
  content: "\ea92";
}
.u-icon__twitter:before {
  content: "\ea96";
}

.u-state__hidden {
  display: none;
}/*# sourceMappingURL=common.css.map */