@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-footer {
  &__upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0 48px;

    border-top: 1px solid $color-gray-light;

    @include mobile {
      padding-bottom: 32px;
    }
  }

  &__lower {
    padding: 36px 0 32px;
    text-align: center;
    border-top: 1px solid $color-gray-light;

    @include mobile {
      padding: 32px 0;
    }
  }

  &__logo {
    width: 202px;

    @include mobile {
      width: 164px;
    }
  }

  &__website-link {
    margin-top: 24px;

    color: $color-gray-dark;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
  }

  &__sns {
    gap: 8px;

    margin-top: 32px;

    @include mobile {
      margin-top: 24px;
    }
  }

  &__copy {
    color: $color-gray-dark;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.1em;
  }
}
