@keyframes top2bottom {
  0% {
    top: -10px;
  }
  100% {
    top: 25px;
  }
}

@keyframes showup-hide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
